.App {
  text-align: center;
}
body{
  width: max-content;
  height: max-content;
  margin: 5vh auto;
}
.tableHeaders{
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
th {
  background-color: green;
  color: white;
  border-width: 0px;
  border: 1px solid lightgreen;
  padding: 3vh;
}

tbody tr:nth-of-type(even) {
  background-color: rgba(144, 238, 144, 0.425);
}

td {
  text-align: center;
  border-right: 1px solid lightgreen;
  padding: 1vh;
}
